<h1>Buscar clima de uma cidade</h1>
<form action="/buscar" class="form-floating" method="post">
    <input type="city" id="city" name="city" class="form-control" placeholder="Cidade">
    <label for="floatingInput">Cidade</label>
    <br>
    <button class="btn btn-success">Buscar</button>
</form>

<div>
    <h2>Cidade: {{city}}</h2>
    <h2>Temperatura: {{data.temperature}}</h2>
    <h2>Vento: {{data.wind}}</h2>
    <h2>Descrição: {{data.description}}</h2>
</div>