<h1>Buscar clima de uma cidade</h1>
<form action="/buscar" class="form-floating" method="post">
    <input type="city" id="city" name="city" class="form-control" placeholder="Cidade">
    <label for="floatingInput">Cidade</label>
    <br>
    <button class="btn btn-success">Buscar</button>
</form>